<h1>Home</h1>

<p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<a href="/api/sessions/logout">Cerrar sesión </a>

<div id="productsContainer">
{{#each products}}
<div class="card">
    <p>Producto:{{this.title}} </p>
    <p>Precio: {{this.price}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Código: {{this.code}} </p>
</div>

{{/each}}

</div>
