<h1>Vista Products</h1>

<p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<a href="/api/sessions/logout">Cerrar sesión </a>


<div id="productsContainer">
{{#each products.payload}}
<div class="card">
    <p>Producto:{{this.title}} </p>
    <p>Precio: {{this.price}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Código: {{this.code}} </p>
    <button>Agregar al carrito</button>
</div>

{{/each}}

</div>
<div>
{{#if products.hasPrevPage}}
    <a href="/products?page={{products.prevPage}}"> Anterior </a>
{{/if}}

{{#if products.hasNextPage}}
    <a href="/products?page={{products.nextPage}}"> Siguiente </a>
{{/if}}
</div>

<p>Pagina {{products.page}} de {{products.totalPages}} </p>