<h1>Vista Products</h1>

    <form action="/carts/{{cartId}}" method="GET">
        <button class="btnMios" type="submit">Ir al Carrito</button>
    </form>

<div id="productsContainer">
{{#each products.payload}}
<div class="card">
    <p>Producto:{{this.title}} </p>
    <p>Precio: {{this.price}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Código: {{this.code}} </p>
    <button>Agregar al carrito</button>
    <form action="/api/cart/{{../cartId}}/products/{{this.id}}" method="POST">
        <button class="btnMios" type="submit">Agregar al Carrito</button>
    </form>
   
</div>


{{/each}}

</div>
<div>
{{#if products.hasPrevPage}}
    <a href="/userProducst?page={{products.prevPage}}"> Anterior </a>
{{/if}}

{{#if products.hasNextPage}}
    <a href="/userProducst?page={{products.nextPage}}"> Siguiente </a>
{{/if}}
</div>

<p>Pagina {{products.page}} de {{products.totalPages}} </p>