<h1>Vista Products</h1>

<div id="productsContainer">
{{#each payload}}
<div class="card">
    <p>Producto:{{this.title}} </p>
    <p>Precio: {{this.price}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Código: {{this.code}} </p>
    <button>Agregar al carrito</button>
</div>

{{/each}}

</div>
<div>
{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}
</div>

<p>Pagina {{page}} de {{totalPages}} </p>